/*------------------------------------------------------------------
Nietzsche Edge Skin
Version: 1;
Author: ThemeMountain
Copyright: ThemeMountain

[Table of contents]

1. Typography
2. Background Color Classes
3. Header & Navigation
4. Slider & Parallax
5. Lightbox
6. Plugin Preloader
7. Rollovers
8. Homepage
9. About Pages
10. Contact Pages
11. Project Pages
12. Fullscreen Pages
13. Blog Pages
14. Resolution Media Queries
15. Form Elements
16. Social Lists
17. Footer
18. Media Element Player
19. Helper Classes
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Typography]
*/
body,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.navigation ul li a,
.overlay-navigation ul li a{
	font-family: 'Lato', 'Helvetica Neue', Arial, serif;
}
.font-alt-2{
	font-family: 'Crimson Text', serif;
}
.counter{
	font-family: 'Helvetica Neue', Arial, serif;
}

/* Headings and Links */
a, 
p a,
.box a:not(.button){
	color: #bb9b69;
}
a:hover,
p a:hover,
.box a:not(.button):hover{
	color: #333;
	text-decoration: none;
}
h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a{
	color: #333;
	letter-spacing: 0.1rem;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
	color: #bb9b69;
}
h1 {
	font-size: 3.8rem;

}
h2 {
	font-size: 2.8rem;

}
h3 {
	font-size: 2.2rem;

}
h3.widget-title {
	font-size: 1.8rem;

}
h4 {
	font-size: 1.6rem;

}
h5 {
	font-size: 1.5rem;

}
h6 {
	font-size: 1.4rem;
	
}
p{
	font-weight: 200;
	font-size: 1.4rem;
	line-height: 1.8;
}
[class*="hero-"] p,
.lead{
	font-size: 1.9rem;
}
.blog-masonry .grid-item h2{
	font-size: 2.2rem;
}

/*------------------------------------------------------------------
[2. Background Color Classes]
*/
.bkg-charcoal{
	background-color: #333; 
	border-color: #333;
}
.bkg-hover-charcoal:hover{
	background-color: #000; 
	border-color: #000;
}

/*------------------------------------------------------------------
[3. Header & Navigation]
*/
.header .logo{
	width: 12rem;
	padding-bottom: 0;
}
.header-1 .header-inner{
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.header-1.header-background .header-inner{
	border-bottom: 1px solid rgba(255,255,255,0);
}
.header .navigation > ul > li > a{
	padding-bottom: 0.4rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2rem;
}
.header-1 .navigation > ul > li > a,
.header-1 .navigation-show a,
.header-4 .navigation > ul > li > a,
.header-4 .navigation-show a{
	color: #fff;
}
.nav-dark .navigation > ul > li > a,
.nav-dark .navigation-show a{
	color: #333;
}

/* Overlay Navigation Colors */
.overlay-navigation-wrapper{
	background: rgba(0,0,0,0.85);
}
.overlay-navigation > ul > li > a{
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
.overlay-navigation .sub-menu a{
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
.overlay-navigation .sub-menu li:first-child{
	padding-top: 0.5rem;
}
.overlay-navigation .sub-menu li:last-child{
	padding-bottom: 1rem;
}
.overlay-navigation-footer {
	color: #666;
}

/* Navigation - Active Colors */
.header .navigation > ul > li > a{
	margin: 0 1.5rem;
	padding-left: 0;
	padding-right: 0;
}
.overlay-navigation ul li.current > a{
	color: #fff;
}
.overlay-navigation .sub-menu{
	border-top: 1px solid transparent;
}
.overlay-navigation .sub-menu.open{
	border-top: 1px solid #555;
}
.header .navigation > ul > li.current > a{
	padding-bottom: 0.2rem;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.nav-dark .navigation > ul > li.current > a{
	color: #333;
	border-bottom: 1px solid #333;
}

/* Navigation - Hover Colors */
.header a:hover.navigation-show a:hover, 
.header .navigation > ul > li > a:hover, 
.header .overlay-navigation > ul > li > a:hover{
	color: #fff;
	opacity: 0.6;
}
.nav-dark .navigation-show a:hover, 
.nav-dark .navigation > ul > li > a:hover{
	color: #333;
	opacity: 0.6;
}

/* Header Background on Scroll Color */
.header-background .navigation-show a,
.header-background .navigation > ul > li > a,
.header-background .overlay-navigation > ul > li > a{
	color: #666;
}
.header-2.header-sticky .navigation > ul > li.current > a,
.header-background .navigation > ul > li.current > a{
	color: #fff;
	border-bottom: none;
}
.header-background .navigation-show a:hover, 
.header-background .navigation > ul > li > a:hover, 
.header-background .overlay-navigation > ul > li > a:hover,
.nav-dark .header-background .navigation-show a:hover, 
.nav-dark .header-background .navigation > ul > li > a:hover{
	color: #fff;
	opacity: 1;
}
.overlay-navigation-footer .social-list a{
	color: #999;
}

/* Header mobile & breakpoint colors */
@media only screen and (max-width: 960px){
	.header, 
	.header .header-inner{
		background: #232323;
	}
	.header-inner .navigation-show a{
		color: #666;
	}
	.header-inner .navigation-show a:hover{
		color: #fff;
		opacity: 1;
	}
}

/*------------------------------------------------------------------
[4. Slider & Parallax]
*/
.full-width-slider,
.parallax.fixed-height{
	height: 100vh;
}
.mobile .full-width-slider,
.mobile .parallax.fixed-height{
	height: 50rem;
}
.tm-slider-container,
.parallax{
	background: #000;
}

/*------------------------------------------------------------------
[5. Lightbox]
*/
.tm-lightbox{
	background: rgba(0,0,0,0.85);
}
#tml-caption span{
	border: none;
}
#tml-caption{
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0.1rem;
	color: #fff;
}
.tml-nav{
	color: #fff;
}

/*------------------------------------------------------------------
[6. Plugin Preloader]
*/
.tm-loader #circle {
	width: 2rem;
	height: 2rem;
	background: none;
	border: 3px solid rgba(255,255,255,0.5);
}

/*------------------------------------------------------------------
[7. Rollovers]
*/
.overlay-info > span > span{
	text-align: left;
	vertical-align: bottom;
}
.overlay-info .project-number{
	font-size: 2rem;
	color: #fff;
	font-weight: 200;
}
.overlay-info .project-title{
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
}
.overlay-info .project-description{
	font-size: 1.4rem;
	font-weight: 200;
}

/*------------------------------------------------------------------
[8. Homepage]
*/
.portfolio-filter-menu a{
	font-weight: bold;
	color: #666;
}
.portfolio-filter-menu a:hover{
	color: #333;
}
.portfolio-filter-menu a.active{
	border-width: 1px;
}
.home-page [class*="portfolio-"]{
	background: none;
}

/*------------------------------------------------------------------
[9. About Pages]
*/

/* Team Section */
.team-3{
	background: none;
	color: #666;
}
.team-3 .team-content-info,
.team-3 .social-list a{
	color: #666;
}
.team-3 .team-content-info h5{
	color: #333;
}
.team-3 .tms-bullet-nav{
	background: #333; 
}
.team-3 .team-slider .tms-pagination{
	text-align: left;
}

/* Logo Section */
.logos-2{
	background-image:url(../images/team/team-bkg-logos.jpg);
}

/* Hero Section */
.hero-4-about{
	background-image:url(../images/team/team-hero.jpg);
}

/* Testimonial Section */
.testimonials-5-about{
	background-image:url(../images/team/team-hero.jpg);
}

/*------------------------------------------------------------------
[10. Contact Pages]
*/

/* Hero Sections */
.hero-5-contact > .row:before{
	background: #fff;
}
.hero-5-contact > .row:after,
.hero-7-contact > .row:before{
	background-image:url(../images/contact/contact-hero.jpg);
}

/* Form Response */
.contact-form-container .form-response{
	color: #666;
}

/* Contact Style 3 Breakpoint Colors */
@media only screen and (max-width: 768px){
	.hero-5-contact{
		color: #666;
	}
	.hero-5-contact h1,
	.hero-5-contact h2,
	.hero-5-contact h3, 
	.hero-5-contact h4, 
	.hero-5-contact h5, 
	.hero-5-contact h6{
		color: #333;
	}
	.hero-5-contact .hero-content-inner{
		text-align: left;
	}
}

/*------------------------------------------------------------------
[11. Project Pages]
*/

/* Pagination */
[class*="pagination-"]{
	color: #666;
	background-color: #f4f4f4;
}
[class*="pagination-"] a:hover{
	color: #333;
}

/* Project 1 */
.project-1-bkg-1{
	background-image: url(../images/portfolio/project-1/man-vs-nature-fs.jpg);
}
.project-1-bkg-2{
	background-image: url(../images/portfolio/project-1/man-vs-nature-fs-black.jpg);
}

/* Project 3 */
.hero-5.project-3 .row:before{
	background-color: #6f5f49;
}
.hero-5.project-3 .row:after{
	background-image: url(../images/portfolio/project-3/lakeside-hero.jpg);
}

/* Project 4 */
.project-4-1{
	background-image: url(../images/portfolio/project-4/mud-ipad-fs-6.jpg);
}
.project-4-2{
	background-image: url(../images/portfolio/project-4/mud-ipad-fs-2.jpg);
}
.project-4-3{
	background-image: url(../images/portfolio/project-4/mud-ipad-fs-3.jpg);
}
.project-4-4{
	background-image: url(../images/portfolio/project-4/mud-ipad-fs-4.jpg);
}
.project-4-5{
	background-image: url(../images/portfolio/project-4/mud-ipad-fs-5.jpg);
}

/* Project 5 */
.project-5{
	background-image: url(../images/portfolio/project-5/harvest-fs-intro.jpg);
}
.hero-5.project-5 .row:before{
	background-color: #333;
}
.hero-5.project-5 .row:after{
	background-image: url(../images/portfolio/project-5/harvest-hero.jpg);
}

/* Project 6 */
.project-6,
.project-6-1{
	background: #06053f;
}
.project-6-2{
	background: #b8f6f2;
}
.project-6-3{
	background: #060740;
}

/* Project 9 */
.project-9,
.project-9-1{
	background: #1f1f1f;
}
.project-9-2{
	background: #dcdcdc;
}
.project-9-3{
	background: #61161a;
}

/* Project 10 */
.project-10{
	background: #e9e9e9;
}

/* Project 11 */
.project-11{
	background: #e15230;
}

/* Project 12 */
.project-12-1{
	background-image: url(../images/portfolio/project-12/palm-logo-fs.jpg);
}
.project-12-2{
	background-image: url(../images/portfolio/project-12/palm-logo-fs-2.jpg);
}
.project-12-3{
	background-image: url(../images/portfolio/project-12/palm-logo-fs-3.jpg);
}
.project-12-4{
	background-image: url(../images/portfolio/project-12/palm-logo-fs-4.jpg);
}

/*------------------------------------------------------------------
[12. Fullscreen Pages]
*/
.error-404 .background-image,
.error-500 .background-image{
	background-image: url(../images/fullscreen/error-1.jpg);
}
.coming-soon-1 .background-image{
	background-image: url(../images/fullscreen/error-1.jpg);
}
.coming-soon-1 .logo{
	width: 15rem;
}
.error-404 .search-form-container{
	max-width: 50rem;
}
.error-404 .search-form-container .button{
	width: auto;
}
.error-404 .form-search{
	font-size: 1.7rem;
	font-weight: 200;
	text-align: center;
}

/*------------------------------------------------------------------
[13. Blog Pages]
*/
.post-content.with-background{
	background: #f4f4f4;
}
.post-info{
	color: #999;
}
.post-media .mejs-container.mejs-audio .mejs-controls .mejs-play,
.post-media .mejs-container.mejs-audio .mejs-controls .mejs-pause{
	border-radius: 0;
}
.post-media .mejs-container.mejs-audio .mejs-controls{
	border-radius: 0;
}
.blog .pagination-1 .page-list a{
	color: #999;
}
.blog .pagination-1 .page-list a:hover,
.blog .pagination-1 .page-list .current{
	color: #333;
}
aside .widget li{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/*------------------------------------------------------------------
[14. Resolution Media Queries]
*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (		 min-device-pixel-ratio: 2),
only screen and (			min-resolution: 192dpi),
only screen and (				min-resolution: 2dppx) { 
	
	/* Fullscreen Pages */
	.error-404 .background-image,
	.error-500 .background-image,{
		background-image: url(../images/fullscreen/error-1@2x.jpg);
	}
	.coming-soon-1 .background-image{
		background-image: url(../images/fullscreen/coming-soon-1@2x.jpg);
	}
	/* Project 1 */
	.project-1-bkg-1{
		background-image: url(../images/portfolio/project-1/man-vs-nature-fs@2x.jpg);
	}
	.project-1-bkg-2{
		background-image: url(../images/portfolio/project-1/man-vs-nature-fs-black@2x.jpg);
	}

	/* Project 3 */
	.hero-5.project-3 .row:after{
		background-image: url(../images/portfolio/project-3/lakeside-hero@2x.jpg);
	}

	/* Project 4 */
	.project-4-1{
		background-image: url(../images/portfolio/project-4/mud-ipad-fs-6@2x.jpg);
	}
	.project-4-2{
		background-image: url(../images/portfolio/project-4/mud-ipad-fs-2@2x.jpg);
	}
	.project-4-3{
		background-image: url(../images/portfolio/project-4/mud-ipad-fs-3@2x.jpg);
	}
	.project-4-4{
		background-image: url(../images/portfolio/project-4/mud-ipad-fs-4@2x.jpg);
	}
	.project-4-5{
		background-image: url(../images/portfolio/project-4/mud-ipad-fs-5@2x.jpg);
	}

	/* Project 5 */
	.project-5{
		background-image: url(../images/portfolio/project-5/harvest-fs-intro@2x.jpg);
	}
	.hero-5.project-5 .row:after{
		background-image: url(../images/portfolio/project-5/harvest-hero@2x.jpg);
	}

	/* Project 12 */
	.project-12-1{
		background-image: url(../images/portfolio/project-12/palm-logo-fs@2x.jpg);
	}
	.project-12-2{
		background-image: url(../images/portfolio/project-12/palm-logo-fs-2@2x.jpg);
	}
	.project-12-3{
		background-image: url(../images/portfolio/project-12/palm-logo-fs-3@2x.jpg);
	}
	.project-12-4{
		background-image: url(../images/portfolio/project-12/palm-logo-fs-4@2x.jpg);
	}

	/* Logo About Section */
	.logos-2{
		background-image:url(../images/team/team-bkg-logos@2x.jpg);
	}

	/* Hero About Section*/
	.hero-4-about{
		background-image:url(../images/team/team-hero@2x.jpg);
	}

	/* Testimonials About Section */
	.testimonials-5-about{
		background-image:url(../images/team/team-hero@2x.jpg);
	}

	/* Hero Contact Section */
	.hero-5-contact > .row:after,
	.hero-7-contact > .row:before{
		background-image:url(../images/contact/contact-hero@2x.jpg);
	}
}

/*------------------------------------------------------------------
[15. Form Elements]
*/
.form-element[class*="border-"]{
	background: none;
}
input.form-element,
textarea.form-element{
	padding-left: 0;
	padding-right: 0;
	background: none;
	color: #666;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0.4rem solid #666;
	border-radius: 0;
}
.form-element:focus,
textarea:focus{
	background: none;
	color: #333;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0.4rem solid #222;
	box-shadow: none;
}
.form-element.required-field,
textarea.required-field{
	border-color: #bb9b69;
}
.form-element.required-field:focus,
textarea.required-field:focus{
	border-bottom: 0.4rem solid #222;
}
.fullscreen-section .form-element,
.fullscreen-section textarea{
	padding-left: 0;
	padding-right: 0;
	background: none;
	color: #fff;
	border-bottom: 0.4rem solid #fff;
	border-radius: 0;
}
.fullscreen-section .form-element:focus, 
.fullscreen-section textarea:focus{
	background: none;
	color: #fff;
	border-bottom: 0.4rem solid #fff;
	box-shadow: none;
}
.fullscreen-section .form-element.required-field,
.fullscreen-section textarea.required-field{
	border-color: #bb9b69;
}
.fullscreen-section .form-element.required-field:focus,
.fullscreen-section textarea.required-field:focus{
	border-bottom: 0.4rem solid #fff;
}

/*------------------------------------------------------------------
[16. Social Lists]
*/
.bkg-charcoal{
	background-color: #333; 
	border-color: #333;
}
.bkg-hover-charcoal:hover{
	background-color: #000; 
	border-color: #000;
}
.social-list li{
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: bold;
}
.social-list,
.social-list li a{
	color: #999;
}
.social-list li a{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.social-list li.social-list-label{
	color: #333;
}
.social-list li a:hover{
	color: #333;
}
.overlay-navigation-footer .social-list a,
.footer-1 .social-list a, 
.fullscreen-section footer .social-list a{
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
.social-list li:first-child a{
	margin-left: 0;
}
.overlay-navigation-footer .social,
.overlay-navigation-footer .social-list a{
	color: #666;
}
.fullscreen-section .social-list,
.fullscreen-section .social-list a{
	color: #fff;
}
.fullscreen-section .social-list a{
	opacity: 0.6;
}
.fullscreen-section .social-list a:hover{
	color: #fff;
	opacity: 1;
}
.footer-1 .social-list,
.footer-1 .social-list a{
	color: #555;
}

/*------------------------------------------------------------------
[17. Footer]
*/
.footer{
	color: #777;
}
.footer a{
	color: #999;
}
.footer a:hover,
.footer .social-list a:hover{
	color: #fff;
}
.footer .footer-logo{
	width: 5rem;
}
.footer .footer-bottom .copyright,
.footer .footer-bottom .social-list{
	float: none;
}
.footer h3{
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
}
.footer address{
    font-size: 1.3rem;
    line-height: 1.2;
    font-style: normal;
    font-weight: 200;
}

/*------------------------------------------------------------------
[18. Media Element Player]
*/
.mejs-container.mejs-audio .mejs-controls{
	border-radius: 3px;
}
.mejs-container .mejs-controls,
.mejs-controls .mejs-volume-button .mejs-volume-slider{
	background: rgba(255, 255, 255, 0.9);
}
.mejs-container.mejs-audio .mejs-controls{
	background: #f9f9f9;
}
/* Time track, vol track */
.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total{
	background: #999;
}
/* Time track, vol level track */
.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current{
	background: #666;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
	background: #ffffff;
}
/* Tooltip */
.mejs-controls .mejs-time-rail .mejs-time-float {
	background: #000;
}
/* Play Button */
.mejs-container.mejs-audio .mejs-controls .mejs-play,
.mejs-container.mejs-audio .mejs-controls .mejs-pause{
	background: #eee;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
/* Time */
.mejs-container .mejs-controls .mejs-time span{
	color: #666;
}

/*------------------------------------------------------------------
[19. Helper Classes]
*/
.fullscreen-inner.v-align-bottom,
.fullscreen-caption-content-inner.v-align-bottom,
.tm-parallax-content-inner.v-align-bottom{
	padding-bottom: 14rem;
}
@media only screen and (max-width: 768px){
	.fullscreen-section .background-on-mobile{
		background: #f4f4f4;
	}
	.fullscreen-section .background-on-mobile *{
		color: #666 !important;
	}
}