@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'TradeGothicLTStdBoldNo.2';
    src: url('font/tradegothicltstd-bd2-webfont.eot');
    src: url('font/tradegothicltstd-bd2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-bd2-webfont.woff') format('woff'),
         url('font/tradegothicltstd-bd2-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-bd2-webfont.svg#TradeGothicLTStdBoldNo.2') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBdNo.2Ob';
    src: url('font/tradegothicltstd-bd2obl-webfont.eot');
    src: url('font/tradegothicltstd-bd2obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-bd2obl-webfont.woff') format('woff'),
         url('font/tradegothicltstd-bd2obl-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-bd2obl-webfont.svg#TradeGothicLTStdBdNo.2Ob') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('font/tradegothicltstd-bold-webfont.eot');
    src: url('font/tradegothicltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-bold-webfont.woff') format('woff'),
         url('font/tradegothicltstd-bold-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-bold-webfont.svg#TradeGothicLTStdBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('font/tradegothicltstd-boldobl-webfont.eot');
    src: url('font/tradegothicltstd-boldobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-boldobl-webfont.woff') format('woff'),
         url('font/tradegothicltstd-boldobl-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-boldobl-webfont.svg#TradeGothicLTStdBoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'TradeGothicLTStdLight';
    src: url('font/tradegothicltstd-light-webfont.eot');
    src: url('font/tradegothicltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-light-webfont.woff') format('woff'),
         url('font/tradegothicltstd-light-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-light-webfont.svg#TradeGothicLTStdLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdLightOblique';
    src: url('font/tradegothicltstd-lightobl-webfont.eot');
    src: url('font/tradegothicltstd-lightobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-lightobl-webfont.woff') format('woff'),
         url('font/tradegothicltstd-lightobl-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-lightobl-webfont.svg#TradeGothicLTStdLightOblique') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('font/tradegothicltstd-obl-webfont.eot');
    src: url('font/tradegothicltstd-obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-obl-webfont.woff') format('woff'),
         url('font/tradegothicltstd-obl-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-obl-webfont.svg#TradeGothicLTStdOblique') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('font/tradegothicltstd-webfont.eot');
    src: url('font/tradegothicltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd-webfont.woff') format('woff'),
         url('font/tradegothicltstd-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd-webfont.svg#TradeGothicLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	display:none;
	color: #939598;
	font-family: 'TradeGothicLTStdLight', Helvetica, Arial, sans-serif; 
	font-size:14px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	margin:0px;
	text-align:left;
	 
	
}
header{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	border-top:10px solid #414042;
	padding-top:30px;
	padding-bottom:30px;
}
section{
	clear: both;
	margin:0px auto 30px auto;
}
section header{
	width:960px;
	margin:0px auto 30px auto;
	border-top:4px solid #414042;
	padding:0px;
}
.normal_width {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.portfolio_thumbs{
	clear:both;
	width:972px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 8px;
}

h1{
	font-family: 'TradeGothicLTStdLight', Helvetica, Arial, sans-serif; 
	font-weight:lighter;
	font-size:34px;
	color:#6D6E71;
	font-weight:lighter;
	padding:0px 0px 27px 0px;
	border-bottom:1px dotted #D1D3D4;
	margin:0px 0px 24px 0px;
}
h2{
	color:#414042;
	font-weight: normal;
    font-style: normal;
	font-size:20px;
	margin:17px 0px -8px 0px;
	padding-bottom:10px;
	border-bottom:1px dotted #D1D3D4;

}




#h2_portfolio{
	height:35px;
	background:url(images/sprite_sheet.gif) 0px 0px no-repeat;
	padding-left:46px;
	padding-top:6px;
	
}
#h2_profile{
	height:35px;
	background:url(images/sprite_sheet.gif) 0px -200px no-repeat;
	padding-left:46px;
	padding-top:6px;
}
#h2_services{
	height:35px;
	background:url(images/sprite_sheet.gif) 0px -100px no-repeat;
	padding-left:46px;
	padding-top:6px;
}
#h2_contact{
	height:35px;
	background:url(images/sprite_sheet.gif) 0px -300px no-repeat;
	padding-left:46px;
	padding-top:6px;
}
#h2_blog{
	height:35px;
	background:url(images/sprite_sheet.gif) 0px -1000px no-repeat;
	padding-left:46px;
	padding-top:6px;
}
h3{
	font-family: 'TradeGothicLTStdBoldNo.2';
	color:#6D6E71;
	font-weight: 100;
    font-style: normal;
	font-size:18px;
	margin:0px 0px 10px 0px;
	line-height:16px
}
h4{
	color:#414042;
	font-weight: normal;
    font-style: normal;
	font-size:22px;
	margin-top:0px;
	padding-bottom:0px;
	margin-bottom:0px;
}
h5{
	color:#414042;
	font-weight: normal;
    font-style: normal;
	font-size:20px;
	margin:17px 0px 30px 0px;
	padding-bottom:30px;
	border-bottom:1px dotted #D1D3D4;
}

p{
	font-family: 'TradeGothicLTStdLight', Helvetica, Arial, sans-serif; 
	font-size:13px;
	line-height:16px;
	color:#939598;
	font-weight:lighter;
	margin:0px 0px 10px 0px;

}
blockquote{
	font-family: 'TradeGothicLTStd';
    font-weight: normal;
    font-style: italic;
	font-size:15px;
	line-height:16px;
	color:#6D6E71;
	border-left:#BCBEC0 solid 5px;
	margin-left:0px;
	margin-right:0px;
	padding-left: 15px;
}
blockquote h4{
	margin:10px 0px 0px 0px;
	font-size:13px;
	font-weight: normal;
    font-style: italic;
	color:#939598;
}
strong{
	font-family: 'TradeGothicLTStdBoldNo.2';
    font-weight: bold;
    font-style: normal;
	color:#6D6E71;
}

ul{
	margin:15px 0px 15px 0px;
	padding-left:16px;
	
}
li{
	color:#6D6E71;
	font-family: 'TradeGothicLTStdLight', Helvetica, Arial, sans-serif; 
	font-size:13px;
	line-height:16px;
	font-weight:lighter;
	margin:0px;
	padding:0px;		
}


.thumb {
	position: relative;
	margin-right:6px;
	margin-left:6px;
	float:left;
	margin-bottom:22px;
	border-bottom:1px dotted #414042;
	padding-bottom:0px;
	height:155px;
	

}
.thumb img{
	width:231px;
	height:130px;
	
}
.thumb p{
	color:#414042;
	font-family: 'TradeGothicLTStdBoldNo.2';
    font-weight: bold;
    font-style: normal;
	font-size:12px;
	margin:2px 0 3px 0;
	
}
.thumb p span{
	color:#939598;
	font-family: 'TradeGothicLTStdLight';
    font-weight:100;
    font-style: normal;
	
}
.thirty_px{
	clear:both;
	
	margin:-23px;
}


.two_columns{
	-moz-column-count: 2;
	-moz-column-gap: 16px;
	/*-moz-column-rule: 1px solid #C7B5A7;*/
	-webkit-column-count: 2;
	-webkit-column-gap: 16px;
	/*-webkit-column-rule: 1px solid #C7B5A7;*/
}
.three_columns{
	-moz-column-count: 3;
	-moz-column-gap:20px;
	/*-moz-column-rule: 1px solid #C7B5A7;*/
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	/*-webkit-column-rule: 1px solid #C7B5A7;*/
}
.four_columns{
	-moz-column-count: 4;
	-moz-column-gap: 18px;
	/*-moz-column-rule: 1px solid #C7B5A7;*/
	-webkit-column-count: 4;
	-webkit-column-gap: 18px;
	/*-webkit-column-rule: 1px solid #C7B5A7;*/
}
.five_columns{
	-moz-column-count: 5;
	-moz-column-gap: 18px;
	/*-moz-column-rule: 1px solid #C7B5A7;*/
	-webkit-column-count: 5;
	-webkit-column-gap: 18px;
	/*-webkit-column-rule: 1px solid #C7B5A7;*/
}


#twitter {
	border:none;	
}
#twitter p{
	font-size:12px;
	margin-top:-15px;
	margin-bottom:30px;
	color:#939598;
}

footer{
	width:960px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#414042;
	padding-top:15px;
	padding-bottom:25px;
	padding-left:15px; 
	
}
footer p {
	font-size:10px;
}
footer div{
	float:right;
	margin-top:-30px;
	margin-right:10px;
	
}
footer img{
	border:none;
	margin-left:5px;
	
}


a {
	text-decoration: none;
	color:#000;
	-webkit-transition-property:color; 
	-webkit-transition-duration: .35s, .35s; 
	-webkit-transition-timing-function: ease, ease;
}


a:hover {
	text-decoration: none;
	color:#FF3300;
}

img a {
	text-decoration: none;
	border:none;
}

.thumb img a{
	text-decoration: none;
	border:none;
}

.thumb img a:hover{
	background-image:url(images/thumb_rollover.png);
	text-decoration: none;
	border:none;
}
.overlay{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width: 231px;
	height: 130px;
	z-index:2;
	background-image:url(images/thumb_rollover.png);
}

.top_shadow{
	width:100%;
	height:17px;
	background-image:url(images/top_shadow.png);
	background-repeat:repeat-x;	
	margin-bottom:13px;
	
}
.bottom_shadow{
	width:100%;
	height:17px;
	background-image:url(images/bottom_shadow.png);
	background-repeat:repeat-x;	
	
	margin-top:30px;
	
}
.flash_regular{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
}
.flash_widescreen{
	margin-bottom:5px;
}
.portfolio_article {
	width:960px;
	margin:0px auto 0px auto;
	padding:7px 0 0 0;
	border-top:2px solid #A7A9AC;
}
#portfolio_items{
	display:none;
	background-color:#E6E7E8;
	border-bottom:1px #808285 solid;
	border-top:1px #808285 solid;

}

#portfolio_items h1{
	
	color:#414042;
	font-family: 'TradeGothicLTStdBoldNo.2';
    font-weight: bold;
    font-style: normal;
	font-size:40px;
	letter-spacing:-1px;
	border-bottom:1px dotted #BCBEC0;
	margin:0px 0px 15px 0px;
	padding:0px 0px 10px 0px;
	
}
#portfolio_items h2{
	color:#414042;
	border-bottom:none;
	margin:0px;
	padding:0px 0px 15px 0px;
	font-size:22px
}
#portfolio_items h3{
	color:#414042;
}

#portfolio_items p{
	color:#58595B;
}
#portfolio_items li{
	color:#000000;
}
#portfolio_items blockquote{
	
	color:#000000;
	border-left:#939598 solid 5px;
	
}
#portfolio_items blockquote h4{
	color:#6D6E71;
}
.item {
	display:none;	
}

.portlink{
	color:#414042;
	margin-top:20px;
	padding-top:10px;
	border-top:1px dotted #BCBEC0;
	font-size:16px;
	
	background-image:url(images/link_arrow.gif);
	background-repeat:no-repeat;
	background-position:113px 14px;
	
	
	
}

.address {
	background-image:url(images/address.gif);
	background-position:0px 5px;
	background-repeat:no-repeat;
	padding-left:20px;
}

.phone {
	background-image:url(images/phone.gif);
	background-position:0px 5px;
	background-repeat:no-repeat;
	padding-left:25px;
}

.email {
	background-image:url(images/email.gif);
	background-position:0px 3px;
	background-repeat:no-repeat;
	padding-left:25px;
}
#close_btn {
	float:right;
	background-image:url(images/close_x.png);
	background-repeat:no-repeat;
	background-position:0px 3px;
	
	margin:-15px 10px 12px 0px;
	padding:0px;
	padding-left:12px;
	
	color: #404041;
	font-size:14px;
	
}

#blog .date{
	text-transform:uppercase;
	font-size:11px;
	margin:-8px 0px 10px 0px;
	padding: 0px;
	color:#939598;
}

.post{
	
}

.post h3 a{
	color:#6D6E71;	
}

#twitter_content header {
	display: none;
}
